/** @format */
// j'ai rajouté le font globale
$font-stack: Montserrat, sans-serif;


body {
  margin: 0;
}
.App {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-family: $font-stack;
}

// Styles pour le conteneur de cartes dans le composant Home
.card-container {
  display: flex; 
  flex-wrap: wrap; // Permettre aux cartes de s'enrouler si y a plus de place 
  justify-content: center; 
  margin-top: 20px; 
}
