/** @format */

.banner {
  width: 100%; 
  height: 415px;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover; // Pour couvrir entièrement le conteneur
  background-position: center; // Centrer l'image
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative; 
  border-radius: 25px;

  &.darken {
    height: 223px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6); // Overlay noir avec transparence
      z-index: 1; // Pour être derrière le texte
      border-radius: inherit;
    }
  }

  .banner-text {
    color: white; 
    font-size: 48px; 
    z-index: 2; 
    text-align: center; 
    font-weight: 700;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black, 
    -1px 1px 0 black,   
    1px 1px 0 black; 
    
  }

  .banner-controls {
    position: absolute;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    pointer-events: none;

    .banner-control {
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      padding: 10px;
      pointer-events: auto;
      width: 70px;

      &.prev {
        margin-left: 10px;
      }

      &.next {
        margin-right: 10px;
      }
    }
  }

  /* Indicateur du numéro de l'image */
  .banner-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 4;
  }
}

@media (max-width: 575.98px) {
  /* Styles for phones */
  .banner { 
    height: 255px;
    border-radius: 10px;
    &.darken {
      height: 111px;
      }

     .banner-controls {
        .banner-control {
        width: 30px;
        }
      }

      .banner-text {
        width: 225px;
        height: 48px;
        font-size: 24px; /* Ajustement de la taille de la police sur mobile */
        text-align: left;
        margin-right: 55px;
        margin-bottom: 9px;
      }
      
      // Masquer l'indicateur 
      .banner-indicator {
        display: none;
      }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .banner { 
    border-radius: 10px;
     .banner-controls {
        .banner-control {
        width: 30px;
        }
      }

      .banner-text {
        font-size: 30px; /* Ajustement de la taille de la police sur mobile */
        text-align: center;
      }
      
      
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for tablets and small desktops */
  .banner { 
     .banner-controls {
        .banner-control {
        width: 30px;
        }
      }

      .banner-text {
        font-size: 36px; /* Ajustement de la taille de la police sur mobile */
        text-align: center;
      }
      
      
  }

}