/** @format */

.footer {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  height: 209px;
  background-color: #000000;
  color: #fff;
  text-align: center;


  .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .footer-section {
      p {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }
  }
}

// le footer occupera toute la largeur pour les petits ecrans
@media screen and (max-width: 1440px) {
  .footer {
    width: 100%; 
  }
}