$orange-color: #ff6060;

.logement {

    h1 {
      font-size: 24px;
      margin: 15px 0;
      color: $orange-color ;
    }

    .info-collapse-container{
      max-width:1240px;
      display: flex;
      column-gap: 76px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #555;
    }
  
  
    ul {
      list-style-type: disc;
      padding-left: 20px;
      
      li {
        font-size: 16px;
        margin-bottom: 5px;
        color: #555;
      }
    }
  }